body{
    background-color: #201A1A;
    padding: 0;
    margin: 0;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    margin-bottom: -20px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}


.menu_container{
    background-color: orange;
    padding: 20px 120px;
    border-radius: 10px;
    margin: 50px;
    display: flex;
    flex-direction: row;
    
}





.menu_container div{
    
}

#items{
    display: flex;
    
    
    
    
}

#item{   
    width: 500px;

}

.row1{
    width: 50%;    
}

.row1 #items{
    float: left;
}

.row2{
    width: 50%;    
}

.row2 #items{
    float: right;
}

@media screen and (max-width: 1800px){
    h2{
        font-size: 200%;
    }

    h3{
        font-size: 100%;
    }

}
@media screen and (max-width: 1700px){
    h2{
        font-size: 150%;
        margin-bottom: -10px;
    }
    h3{
        font-size: 75%;
    }

}
@media screen and (max-width: 1600px){
    h2{
        font-size: 100%;
    }

    .menu_container{
        padding-right: 100px;
        padding-left: 100px;
    }

}







